[submodule "Leaflet"]
	path = vendor/leaflet
	url = https://github.com/Leaflet/Leaflet.git
	ignore = dirty
[submodule "Leaflet.markercluster"]
	path = vendor/leaflet-markercluster
	url = https://github.com/Leaflet/Leaflet.markercluster.git
	ignore = dirty
[submodule "CSSAnimEvent"]
	path = vendor/cssanimevent
	url = https://github.com/magnetikonline/cssanimevent.git
