// Set location of Leaflet's icons.
.leaflet-control-layers-toggle
	background-image url('../img/layers.png')
.leaflet-retina .leaflet-control-layers-toggle
	background-image url('../img/layers-2x.png')

.leaflet-control-geosearch
	margin-top 0 !important
	display none
	opacity 0
	transition opacity 1.325s ease
	// For Safari and Android.
	-webkit-transition opacity 1.325s ease

.leaflet-popup-content
	margin auto
	width auto !important
